body {
  padding-top:1rem;
}

.img-select img {
  width: 23% !important;
  padding: 0 1%;
}

.img-select img.disabled {
  opacity: 0.2;
}

@keyframes up {
  100% {
    transform: rotate(-90deg)
  }
}

@keyframes down {
  100% {
    transform: rotate(90deg)
  }
}

.ani-up {
  animation: up 0.5s; 
  animation-fill-mode: forwards;
}

.ani-down {
  animation: down 0.5s; 
  animation-fill-mode: forwards;
}